<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/login.css">
  <title>Login</title>
</head>
<body>
  <div class="container">
    <h1 class="title"><i class="fas fa-sign-in-alt"></i> Login </h1>
    <form class="login-form" action="/auth/login" method="post">
      <input class="input-field" type="text" name="username" placeholder="Username" required>
      <input class="input-field" type="password" name="password" placeholder="Password" required>
      <button class="submit-btn" type="submit"><i class="fas fa-sign-in-alt"></i> Login</button>
    </form>
    <a class="register-link" href="/auth/register"><i class="fas fa-user-plus"></i> Don't have an account? Register</a>
  </div>
</body>
</html>

